<!--@subject Caritor custom email module @-->

<div>

<h1>Dear  {{var var1}}</h1>

<p style="font-family:Verdana,Arial;font-weight:normal">{{var var3}} send  {{var var2}} Credits . Through his account on  <a href= {{var var8}} style="color:#3696c2" target="_blank"> {{var var8}} </a> .You can use for Those For purchase.</p>

<div style="font-family:Verdana,Arial;font-weight:normal"> We appreciate your business. </div>

<div style="font-family:Verdana,Arial;font-weight:normal"> To Log in <a href= {{var var8}}> click here</a> </div>
</div>
