<!--@subject Caritor custom email module @-->

<div>

<h1>Dear  {{var var1}}</h1>

<p style="font-family:Verdana,Arial;font-weight:normal">We have updated your account on <a href= {{var var8}} style="color:#3696c2" target="_blank"> {{var var8}} </a> and you have credit which you can use for future purchase.</p>

<div style="font-family:Verdana,Arial;font-weight:normal"> Your Store Credit balance is : {{var var4}} </div>

<div style="font-family:Verdana,Arial;font-weight:normal"> We appreciate your business. </div>

</div>
