<?xml version="1.0"?>
<config>
    <modules>
        <Kartparadigm_StoreCredit>
            <version>0.9.0</version>
        </Kartparadigm_StoreCredit>
    </modules>
    <global>
        <models>
            <kartparadigm_storecredit>
                <class>Kartparadigm_StoreCredit_Model</class>
                <resourceModel>kartparadigm_storecredit_mysql4</resourceModel>
            </kartparadigm_storecredit>
            <kartparadigm_storecredit_mysql4>
                <class>Kartparadigm_StoreCredit_Model_Mysql4</class>
                <entities>
                    <creditinfo>
                        <table>kartparadigm_storecredit_creditinfo</table>
                    </creditinfo>
                    <sendcreditstofriend>
                        <table>kartparadigm_storecredit_sendcreditstofriend</table>
                    </sendcreditstofriend>
                </entities>
            </kartparadigm_storecredit_mysql4>
            <core>
                <rewrite>
                    <resource_transaction>Kartparadigm_StoreCredit_Model_Resource_Transaction</resource_transaction>
                </rewrite>
            </core>
            <catalogrule_resource>
                <rewrite>
                    <rule>Kartparadigm_StoreCredit_Model_Resource_Rule</rule>
                </rewrite>
            </catalogrule_resource>
        </models>
        <blocks>
            <kartparadigm_storecredit>
                <class>Kartparadigm_StoreCredit_Block</class>
                <!--this is a new block page for that custom module-->
            </kartparadigm_storecredit>
            
        </blocks>
        <helpers>
            <kartparadigm_storecredit>
                <class>Kartparadigm_StoreCredit_Helper</class>
            </kartparadigm_storecredit>
        </helpers>
        <resources>
            <kartparadigm_storecredit_setup>
                <setup>
                    <module>Kartparadigm_StoreCredit</module>
                    <class>Kartparadigm_StoreCredit_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kartparadigm_storecredit_setup>
            <kartparadigm_storecredit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kartparadigm_storecredit_write>
            <kartparadigm_storecredit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kartparadigm_storecredit_read>
        </resources>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <kartparadigm_storecredit>
                        <type>singleton</type>
                        <class>Kartparadigm_StoreCredit_Model_Observer</class>
                        <method>set_credits_discountamount</method>
                    </kartparadigm_storecredit>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_place_after>
                <observers>
                    <kartparadigm_storecredit>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>debitOrder</method>
                    </kartparadigm_storecredit>
                </observers>
            </sales_order_place_after>
            <sales_order_creditmemo_save_before>
                <observers>
                    <kartparadigm_storecredit>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>addCredits</method>
                    </kartparadigm_storecredit>
                </observers>
            </sales_order_creditmemo_save_before>
            <sales_convert_order_to_quote>
                <observers>
                    <kartparadigm_storecredit>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>unset_session_inreorder</method>
                    </kartparadigm_storecredit>
                </observers>
            </sales_convert_order_to_quote>
            <customer_login>
                <observers>
                    <kartparadigm_storecredit>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>assigncredits</method>
                    </kartparadigm_storecredit>
                </observers>
            </customer_login>
            <catalog_product_load_after>
                <observers>
                    <kartparadigm_storecredit>
                        <type>model</type>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </kartparadigm_storecredit>
                </observers>
            </catalog_product_load_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <kartparadigm_storecredit>
                        <type>model</type>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </kartparadigm_storecredit>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_order_invoice_save_after>
                <observers>
                    <kartparadigm_storecredit>
                        <type>model</type>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>getCustomOptionsOfProduct</method>
                    </kartparadigm_storecredit>
                </observers>
            </sales_order_invoice_save_after>
            <checkout_cart_product_add_after>
                <observers>
                    <kartparadigm_storecredit>
                        <type>model</type>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>addCreditsToCart</method>
                    </kartparadigm_storecredit>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_item_cancel>
                 <observers>
                    <kartparadigm_storecredit>
                        <type>model</type>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>addCancelOrderCredits</method>
                    </kartparadigm_storecredit>
                </observers>
            </sales_order_item_cancel>
           <adminhtml_system_config_advanced_disableoutput_render_before>
               <observers>
                    <kartparadigm_storecredit>
                        <type>model</type>
                        <class>kartparadigm_storecredit/observer</class>
                        <method>disableModule</method>
                    </kartparadigm_storecredit>
                </observers>
          </adminhtml_system_config_advanced_disableoutput_render_before>
        </events>
        <template>
            <email>
                <caritor_email_template translate="label" module="kartparadigm_storecredit">
                    <label>Updating Store Credits</label>
                    <file>caritor_email_template.html</file>
                    <type>html</type>
                </caritor_email_template>
                <caritor_email_template1 translate="label" module="kartparadigm_storecredit">
                    <label>Sharing Store Credits</label>
                    <file>caritor_email_template1.html</file>
                    <type>html</type>
                </caritor_email_template1>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Kartparadigm_StoreCredit before='Mage_Checkout'>Kartparadigm_StoreCredit_Checkout</Kartparadigm_StoreCredit>
                    </modules>
                </args>
            </checkout>
            <kartparadigm_storecredit>
                <use>standard</use>
                <args>
                    <module>Kartparadigm_StoreCredit</module>
                    <frontName>storecredit</frontName>
                </args>
            </kartparadigm_storecredit>
        </routers>
        <layout>
            <updates>
                <kartparadigm_storecredit module="Kartparadigm_StoreCredit">
                    <file>credit.xml</file>
                </kartparadigm_storecredit>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kartparadigm_storecredit before="Mage_Adminhtml">Kartparadigm_StoreCredit_Adminhtml</kartparadigm_storecredit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kartparadigm_storecredit module="kartparadigm_storecredit">
                    <file>credit.xml</file>
                </kartparadigm_storecredit>
            </updates>
        </layout>
    </adminhtml>
</config>
